body{
    background: url(./assest/sample-pattern.png);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img{
    width: 30%;
    vertical-align: center;
    text-align: center;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: rgb(255, 255, 255);
    padding: 1em;
}

.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li{
    margin: 0 1rem;
}

a{
    text-decoration: none;
}

main{
    margin: 0px auto;
    padding: 30px;
}

main h1{
    text-align: center;
    font-size: 40px;
}

.lorem-post1, .lorem-post2, .lorem-post3, .lorem-post4{
    background-color: #fff;
    margin: 20px;
    padding: 15px;
}

h3{
    color: rgb(97, 97, 255);
}

footer{
    background: rgb(0, 0, 0);
    height: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
}